@media (min-width: 601px) and (max-width: 901px) {
//------------------------ Header--------------------- /
    .header__center-info-div {
    display: var(--display-grid);
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: var(--grid-auto-rows);
    row-gap: var(--gap-x1and5);

    h1 {
    align-self: end;
    justify-self: var(--justify-self);
    width: 350px;
    font-size: 50px;
    }
    
    #description{
    justify-self: var(--justify-self);
    width: 550px;
    font-size: var(--font-size-20);
    margin-top: 0;
    }

    .header__center-info-div--div-for-btns {
    flex-direction: row;
    justify-content: var(--justify-content);
    gap: var(--gap-x2);
    #btn-download{
        margin: 0;
    }

    #what{
        margin-right: 30px;
    }
    }
    }
//------------------------ Main--------------------- //
.main__vertical-line {
    width: 1px;
    height: 85px;
}

.main__div-for-4-photos {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 0 5%;
    gap: var(--gap-x2);
}

.main__div-for-info {
    h2 {
        width: 430px;
        font-size: 37px;
    }

    #main__div-for-info-description {
        line-height: 1.3;
        font-size: var(--font-size-16);
    }
}
//------------------------ Footer--------------------- //
.footer_div-for-info {
    background-image: url("/starter-code/assets/tablet/image-footer.jpg");
}

.footer__div-for-info--color {
    h2 {
        font-size: 35px;
    }

    p {
        width: 65%;
    }
}
}

@media (min-width: 902px) {
//------------------------ Header--------------------- //
.header__logo-div {
    height: 20vh;
}

.header__main-div {
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-auto-rows: var(--grid-auto-rows);

    .header__main-hero-div {
        display: var(--display-none);
            img {
                display: var(--display-none);
            }
    }

    .header__left-img-div {
    align-self: var(--align-self);
    justify-self: var(--justify-self);
    @include flex-center;
    grid-column: 1;
    }

    .header__center-info-div {
    grid-column: 2;
    grid-row: 1;

        h1 {
            font-size: 64px;
            width: 450px;
        }

        #description {
            font-size: var(--font-size-20);
            width: 500px;
        }
    }

    .header__rigth-img-div {
        align-self: var(--align-self);
        justify-self: var(--justify-self);
        @include flex-center;
        grid-column: 3;
    }

    .header__center-info-div--div-for-btns {
    flex-direction: row;
    justify-content: var(--justify-content);
    gap: 0;

        #btn-download {
            width: 270px;
        }

        #what {
            width: 200px;
        }
    }
}
//------------------------ Main--------------------- //
main {
    margin-top: 150px;
}

.main__vertical-line{
    height: 100px;
}

    .main__div-for-4-photos {
        padding: 0 8%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 40px;
    }

    .main__zero-one-figure-div {
        p{
            margin-bottom:50px;
        }
    }

    .main__div-for-info {
        #first-p {
            font-size: 21px;
        }

        h2 {
            font-size: 45px;
            width: 500px;
        }

        #main__div-for-info-description  {
            font-size: 25px;
            margin-top: 30px;
            width: 750px;
        }
    }
//------------------------ Footer--------------------- //
footer {
    margin-top: 150px;
}

.footer_div-for-info {
    background-image: url("/starter-code/assets/desktop/image-footer.jpg");
    width: var(--full-width);
}

.footer__div-for-info--color {
    display: var(--display-flex);
    flex-direction: row;
    align-items: center;

    h2 {
        font-size: 40px;
        margin: 0;
        width: 25%;
        text-align: var(--text-align-start);
        margin: 10% 0 10% 10%;
    }

    p {
        text-align: var(--text-align-start);
        width: 23%;
        margin-bottom: 0;
        font-size: var(--font-size-20);
    }

    #btn-download-f{
        margin-left: 10%;
        margin-bottom: 0;
    }
}
}

@media (hover: hover) and (pointer: fine) {
.header__center-info-div--div-for-btns{
    #btn-download:hover {
    background-color:var(--cyan-hover);
    cursor: pointer;
    span {
        color: var(--cyan-300);
    }
    }

    #what:hover {
    background-color: var(--purple-hover);
    cursor: pointer;
    }
}
    #btn-download-f:hover {
    background-color:var(--purple-hover);
    cursor: pointer;    
    }

}

@media (hover: none) and (pointer: coarse) {
.header__center-info-div--div-for-btns{
    #btn-download:active {
    background-color:var(--cyan-hover);
    span {
        color: var(--cyan-300);
    }
}

    #what:active {
    background-color:var(--purple-hover);
    }
}

    #btn-download-f:active {
    background-color:var(--purple-hover);   
    }
}