@import 'mixins';

header {
    width: 100vw;
    // height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.header__logo-div {
    width: 100%;
    height: 15vh;
    @include flex-center;
}

.header__main-div {
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
}

.header__left-img-div {
    width: 100%;
    height: 50%;
    grid-column-start: 1;
    grid-row-start: 1;
    
    img{
        width: 100%;
    }
}

.header__center-info-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 2;
    box-sizing: border-box;
    padding: 5% 8% 5% 8%;

    h1 {
        text-align: center;
        width: 100%;
        font-size: 45px;
        color: #28283D;
        font-weight: 900;
    }

    #description {
        width: 100%;
        margin-top: 6%;
        color: #87879D;
        font-size: 16px;
        text-align: center;
    }
    
    #btn-download {
        @include flex-center;
        box-sizing: border-box;
        background-color: #4D96A9;
        font-size: 19px;
        color: white;
        font-weight: 800;
        width: 70%;
        height: 70px;
        margin: 5%;
        border-radius: 35px;

        span{
            color: #8FE3F9;
            margin-left: 5%;
        }
    }

    #what {
        box-sizing: border-box;
        @include flex-center;
        background-color: #855FB1;
        color: white;
        width: 50%;
        height: 70px;
        border-radius: 35px;
        font-size: 19px;
        font-weight: 800;
    }
}

.header__rigth-img-div {
    width: 100%;
    height: 100%;
    grid-column-start: 2;
    grid-row-start: 1;

    img{
        width: 100%;
    }
}