@import 'mixins';

header {
    width: 100vw;
    // height: 50vh;
    @include flex-direction-center;
    box-sizing: var(--box-sizing);
}

.header__logo-div {
    width: var(--full-width);
    height: 15vh;
    @include flex-center;
}

.header__main-div {
    width: var(--full-width);
    height: var(--full-height);
    display: var(--display-grid);
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: var(--grid-auto-rows);

    .header__main-hero-div {
    display: var(--display-block);
        img {
            display: var(--display-block);
            width: var(--full-width);
        }
    }
}

.header__left-img-div {
    display: var(--display-none);
    width: var(--full-width);
    height: var(--full-height);
    grid-column-start: 1;
    grid-row-start: 1;
    box-sizing: var(--box-sizing);
    
    img{
        width: var(--full-width);
    }
}

.header__center-info-div {
    display: var(--display-flex);
    @include flex-direction-center;
    justify-content: var(--justify-content);
    width: var(--full-width);
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 2;
    box-sizing: var(--box-sizing);
    padding: 5% 8% 5% 8%;

    h1 {
        text-align: var(--text-align-center);
        width: 300px;
        font-size: 45px;
        color: var(--slate-900);
        font-weight: var(--font-weight-900);
    }
    #description {
        width: var(--full-width);
        margin-top: 6%;
        color: var(--slate-600);
        font-size: var(--font-size-16);
        text-align: var(--text-align-center);
        font-weight: var(--font-weight-600);
    }

.header__center-info-div--div-for-btns{
   @include flex-direction-center;
    gap: var(--gap);
    margin-top: 15px;
    #btn-download {
        @include flex-center;
        box-sizing: var(--box-sizing);
        background-color: var(--cyan-600);
        font-size: var(--font-size-19);
        color: var(--color-white);
        font-weight: var(--font-weight-800);
        width: 235px;
        height: 70px;
        margin: 5%;
        border-radius: var(--btns-radius);

        span{
            color: var(--cyan-300);
            margin-left: 5%;
        }
    }
    #what {
        box-sizing: var(--box-sizing);
        @include flex-center;
        background-color: var(--purple-600);
        color: var(--color-white);
        width: 175px;
        height: 70px;
        border-radius: var(--btns-radius);
        font-size: var(--font-size-19);
        font-weight: var(--font-weight-800);
    }
}

}

.header__rigth-img-div {
    display: var(--display-none);
    width: var(--full-width);
    height: var(--full-height);
    grid-column-start: 2;
    grid-row-start: 1;
    box-sizing: var(--box-sizing);  

    img{
        width: var(--full-width);
    }
}